@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,400;1,600&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@400;500&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(92, 34, 201);
}
.wrapper{
    background-color: white;
    padding: 50px;
    border-radius: 4px;
}

h1{
    font-size: 25px;
    text-align: center;
}
p{
    font-size: 18px;
    text-align: center;
}

.input input{
    padding: 5px 0; padding-left: 5px;
    width: 100%;
    margin: 10px 0;
    font-family: 'Poppins';
    font-size: 16px;
}
.input input:focus{
    outline: none;
}

.generateQr button{
    width: 104%;
    padding:10px 0px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgba(92, 34, 201);
    border-radius: 2px;
    border: none;
    color:white;
    cursor: pointer;
}
.generateQr button:hover{
    background-color: rgb(92, 34, 201,0.900);
}

.image{
    display: flex;
    justify-content: center;
    height: 0;
    transition: all 0.3s ease-in-out;
}

@media (max-width:400px) {
    h1{
        font-size: 19px;
    }
    .wrapper{
        padding:40px 30px;
    }
    .para p{font-size: 13px;}
    .input input{
        padding:3px;
    }
    .generateQr button{
        width: 106%;
        border-radius: 3px;
    }
}
@media (max-width:300px) {
    h1{
        font-size: 15px;
    }
    .wrapper{
        padding:70px 8px;
        padding: 10px;
    }
    .para p{font-size: 10px;}
    .input input{
        padding:0px;
    }
    .generateQr button{
        width: 100%;
        border-radius: 3px;
    }
}